* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
:root {
  /* Colors */
  /* Primary */
  --blue-1: hsl(179, 62%, 43%);
  --yellow: hsl(71, 73%, 54%);
  /* Neutral */
  --gray: hsl(204, 43%, 93%);
  --blue-2: hsl(218, 22%, 67%);
  --white: #ffffff;
  /* --------------------- */
  /* Typography */
  --body-size: 16px;
  --bold-w: 700;
  --normal-w: 400;

  --h1-size: 24px;

  --h2-size: 18px;
  --h2-letter-spacing: -0.22px;
  --h2-line-height: 20px;

  --p-spacing: -0.2px;
  --p-height: 26px;

  --price-size: 32px;
}
body {
  font-family: "Karla", sans-serif;
  font-size: var(--body-size);
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 25px;
  min-height: 100vh;
}
h1 {
  font-size: var(--h1-size);
  color: var(--blue-1);
  font-weight: 700;
}
h2 {
  font-size: var(--h2-size);
  font-weight: 700;
  line-height: var(--h2-line-height);
  letter-spacing: var(--h2-letter-spacing);
}
p {
  line-height: var(--p-height);
  letter-spacing: var(--p-spacing);
}
